.footer{
    display: flex;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.514);
}
.title{
    margin-right: 250px;
    margin-left: 250px;
}
.icon{
    margin-right: 250px;
    font-size: large;
    margin-right: 250px;
    margin-top: 30px;
}
.icon i{
    padding: 5px;
}